[defaults]
# Permite que la conexión con nuevas máquinas virtuales por ssh no pregunte si se acepta
# la clave nueva de una MAC detectada
host_key_checking = False
# Indica dónde se va a encontrar, por omisión, el fichero de inventario
inventory = ./ansible_hosts